@{
    ViewBag.Title = "Home Page";
}
<div class="full-width">
    <div id="promo">
        <div class="jumbotron">
            <h1>Fantastic Offer</h1>
            <p>We have a special treat for our new customers. Order now and get a big discount on your first cake!</p>
            <p><a class="btn btn-primary" role="button" href="#">Get 50% Off</a></p>
        </div>
    </div>
    <div class="container site-section" id="welcome">
        <h1>Welcome to Main Street Bakery</h1>
        <p>
            <br><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make a type specimen book.<br><br>
        </p>
    </div>
    <div class="features-section">
        <div class="container site-section" id="why">
            <h1>Why Choose Us</h1>
            <div class="row">
                <div class="col-md-4 item">
                    <h2 class="text-center"><i class="fa fa-birthday-cake d-flex justify-content-center"></i>Great Taste</h2>
                    <p><br>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. T<br><br></p>
                </div>
                <div class="col-md-4 item">
                    <h2 class="text-center"><i class="fa fa-heart d-flex justify-content-center"></i>Healthy &amp; Organic</h2>
                    <p><br>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. T<br><br></p>
                </div>
                <div class="col-md-4 item">
                    <h2 class="text-center"><i class="fa fa-shopping-basket d-flex justify-content-center"></i>Next Day Delivery</h2>
                    <p><br>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. T<br><br></p>
                </div>
            </div>
        </div>
        <div class="container site-section">
            <h1>Gallery</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body"><a class="card-link" href="~/Content/Images/cake.jpg" target="_blank" data-lightbox="galleryImages"><img class="img-fluid" src="~/Content/Images/cake.jpg" id="image1"></a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">

                        </div>
                        <a href="~/Content/Images/happyBirthdayCake.jpg" target="_blank" data-lightbox="galleryImages"><img class="img-fluid" src="~/Content/Images/happyBirthdayCake.jpg" id="image2"></a>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body"></div><a href="~/Content/Images/ice_Cream.jpg" target="_blank" data-lightbox="galleryImages"><img class="img-fluid" src="~/Content/Images/ice_Cream.jpg" id="image3"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card"></div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 footer-navigation">
                    <h3><a href="#">Main Street Bakery</a></h3>
                    <p class="links"><a href="#">Cakes</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">Contact</a><strong> ·  ·  · </strong></p>
                    <p class="company-name">Main Street Bakery © 2018</p>
                </div>
                <div class="col-sm-6 col-md-4 footer-contacts">
                    <div>
                        <span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
                    </div>
                    <div>
                        <i class="fa fa-phone footer-contacts-icon"></i>
                        <p class=" email text-left"> +1 555 123456</p>
                    </div>
                    <div>
                        <i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">support@company.com</a></p>
                    </div>
                </div>
                <div class="col-md-3 footer-about">
                    <h4>About the company</h4>
                    <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
                    <div class="social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </div>
    </footer>
</div>
@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>
}
